<section class="hero-section">
    <hr class="primary minimal">
    <div class="container">

        <div class="hero-content-area">
            <div class="hero-section-title">
                <div class="section-title primary">Strong Body. Strong Mind.</div>
            </div>
            <h1 class="title">Build Strength Boost Confidence Today!</h1>
            <p class="description">Begin your fitness journey with expert trainers, modern equipment, and a supportive environment designed to help you build streangth and confidence.</p>
            <ul class="checklist grid-checklist">
                <li>Transform your body with training</li>
                <li>Personal training for real results</li>
                <li>Build confidence through fitness</li>
                <li>Fitness tailored to your goals</li>
            </ul>
            <hr class="divider">
            <div class="hero-cta">
                <a class="primary-button offset" asp-controller="Auth" asp-action="SignIn">Get Started</a>
            </div>

            <img class="hero-image" src="images/hero-image.png" />
        </div>

    </div>
</section>