@{
    ViewData["Title"] = "Page Not Found";
}

<section class="notfound-section">
    <div class="container">
        <img src="~/images/404-error-img 1.png" alt="Page Not Found" />
        <h1>Oops! page not found</h1>
        <p>The page you are looking for does not exists.</p>
        <a href="/" class="primary-button">Back to Homepage</a>
    </div>
</section>